<div class="row">
    <div class="col {{@paddingIcon}}">
        <img src="../images/{{@icon}}" width={{@iconWidth}} height={{@iconHeight}} class="test" alt="" />
    </div>
</div>
<div class="row">
    <div class="col {{@paddingHeader}}">
        <h4 class={{@h4Styling}}>{{@header}}</h4>
    </div>
</div>
<div class="row">
    <div class="col {{@paddingText}}">
        {{#if textLink}}
            <a href="{{@linkUrl}}" class={{@linkStyling}} title={{@linkUrl}}>{{@text}}</a>
        {{else}}
            <p class={{@pStyling}}>{{@text}}</p>
        {{/if}}
    </div>
</div>